body{
background-color: #FFFFFF;
font-family: sans-serif;
font-size: 10px;
}


*,*:before, *:after {
  box-sizing: border-box;
}

border-box, *:before, *:after {
  box-sizing: inherit;
}

nav{
  height: 68px;
  width: 375px;
  padding-top: 10px;
  background-color: #2C4B66;
}

nav p {
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  margin-top: 15px;
  margin-left: 60px;
}

.navarrow{
  margin-left: 10px;
  margin-top: 12px;
  float: left;
}

.navpic {
  margin-top: -10px;
}

.button {
  float: right;
  padding-right: 10px;
  padding-top: 5px;
}

.bubble {
  position: absolute;
  padding-left: 244px;
  padding-top: 40px;
}

.pin{
margin-left: 15px;
margin-top: 10px;
}

.wrapper {
  overflow-y:scroll;
  height:610px;

}


.container {
      width:376px;
      height:667px;
      border-style: solid;
      border-color: #2769A9;
      border-width: thin;
      background-color: #D3D3D3;
      margin:auto;
      overflow: hidden;
      }

.table {
  position: relative;
  z-index: 5;
  width:375px;
  height:60px;
  margin-top: -20px;
  background-color:#264563;
}

.east {
    width: 374px;
    height: 75px;
    padding-top: 10px;
    background-color: #FFFFFF;
    border-bottom-color: #2769A9;
    border-bottom-width:medium;
    color:#2769A9;
    }

.north {
  width:374px;
  height: 55px;
  background-color: #FFFFFF;
  border-bottom-color: #2769A9;
  border-bottom-width: medium;
  color: #2769A9;
}

.south {
width: 374px;
height: 80px;
background-color: #FFFFFF;
border-bottom-color: #2769A9;
border-bottom-width: medium;
color: #2769A9;
}

.reroute {
  width: 374px;
  height:55px;
  background-color: #FFFFFF;
  border-bottom-color: #2769A9;
  border-bottom-width: medium;
  color: #2769A9;
}

.outofserv {
  width:374px;
  height: 110px;
  background-color: #FFFFFF;
  border-bottom-color: #2769A9;
  border-bottom-width: medium;
  color: #2769A9;
}

.east h1 {
font-size: 14px;
color:#2769A9;
font-weight: bold;
margin-left: 10px;
margin-top: -5px;
}


.north h1{
font-size: 14px;
font-weight: bold;
margin-left: 10px;
margin-top: 1px;
padding-top: 5px;
}

.north h3 {
  margin-left: 100px;
}

.south h1 {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 1px;
  padding-top: 5px;
}

.reroute h1 {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  margin-top:1px;
  padding-top: 5px;
}

.outofserv h1 {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  margin-top:1px;
  padding-top: 5px;
}

ul li{
  list-style-type: none;
  display: inline-block;
}



h2 {
  font-size: 12px;
  color:#2769A9;
  font-weight: normal;
  padding-left: 10px;
  margin: 10px 0 0 10px;
  text-align: center;

}

h3{

  font-size: 12px;
  color: #264563;
  font-weight: normal;
  margin: 10px 0 0 60px;
}

p {
  font-size: 12px;
  color: #264563;
  font-weight: normal;
  margin: 10px 0 0 50px;


}


h4 {
  margin-top: -25px;
  margin-left:50px;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  color: #FFFFFF;
}

h5 {
  padding-bottom: 10px;
  margin-top: 0px;
  margin-left: 50px;
  line-height:150%;
  font-size: 12px;
  font-weight: normal;
  color: #FFFFFF;
}
