body{
background-color: #FFFFFF;
font-family: sans-serif;
font-size: 10px;
}


*,*:before, *:after {
  box-sizing: border-box;
}

border-box, *:before, *:after {
  box-sizing: inherit;
}

nav {
  height: 68px;
  width: 375px;
  padding-top: 10px;
  background-color: #2C4B66;
}

.navarrow{
  padding-left: 10px;
  padding-top: 10px;
}

.navpic {
  margin-top: -10px;
}

.button {
  float: right;
  padding-right: 10px;
  padding-top: 5px;
}

.bubble {
  position: absolute;
  padding-left: 246px;
  padding-top: 40px;
}

.pin{
margin-left: 15px;
margin-top: 10px;
}

.wrapper {
  overflow-y:scroll;
  height:599px;
}


.container {
      width:376px;
      height:667px;
      border-style: solid;
      border-color: #FFFFFF;
      border-width: thin;
      background-color: #D3D3D3;
      margin:auto;
      overflow: hidden;
      }

.table {
  position: relative;
  z-index: 5;
  width:374px;
  height:60px;
  margin-top: -20px;
  background-color: #264563
}

.east {
    width: 374px;
    height: 80px;
    padding-top: 10px;
    background-color: #2769A9;
    border-bottom-color: #FFFFFF;
    border-bottom-width:medium;
    color: #FFFFFF;
    }

.north {
  width:374px;
  height: 60px;
  background-color: #2769A9;
  border-bottom-color:#FFFFFF;
  border-bottom-width: medium;
  color: #FFFFFF;
}

.south {
width: 374px;
height: 80px;
background-color: #2769A9;
border-bottom-color: #FFFFFF;
border-bottom-width: medium;
color: #FFFFFF;
}

.reroute {
  width: 374px;
  height:60px;
  background-color: #2769A9;
  border-bottom-color: #FFFFFF;
  border-bottom-width: medium;
  color: #FFFFFF;
}

.outofserv {
  width:374px;
  height: 100px;
  background-color: #2769A9;
  border-bottom-color: #FFFFFF;
  border-bottom-width: medium;
  color: #FFFFFF;
}

.east h1 {
font-size: 14px;
margin-left: 10px;
margin-top: -5px;
}

.north h1{
font-size: 14px;
margin-left: 10px;
margin-top: 1px;
padding-top: 5px;
}

.north h2 {
margin-top: -5px;
margin-left: -20px;
}

.north h3 {
margin-left: 180px;
}

.south h1 {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 1px;
  padding-top: 5px;
}

.south h2{
  margin-top: -5px;
  margin-left: -20px;
}

.south h3{
  margin-left: 180px;
}

.reroute h1 {
  font-size: 14px;
  margin-left: 10px;
  margin-top:1px;
  padding-top: 5px;
}

.reroute h2 {
  margin-top: -5px;
  margin-left: -20px;
}

.reroute h3 {
  margin-left: 200px;
}

.outofserv h1 {
  font-size: 14px;
  margin-left: 10px;
  margin-top:1px;
  padding-top: 5px;
}

.outofserv h2 {
  margin-top: -5px;
  margin-left: -20px;
}

.outofserv h3 {
  margin-left: 180px;
}






ul{
  list-style-type: none;
}

li{
}


h1{
  margin-top: 50px;
}

h2{
  font-size: 12px;
  margin-left: -30px;
}

h3{
  font-size: 12px;
  margin-left: 170px;
}

h4 {
  margin-top: -20px;
  margin-left:40px;
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
}

h5 {
  padding-bottom: 10px;
  margin-top: -40px;
  margin-left: 60px;
  line-height:300%;
  font-size: 12px;
  color: #FFFFFF;
}

p{
  font-size: 12px;
  margin-left: 50px;
  margin-top: -25px

}
